* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F39494;
}

.onboardingPage {
  background-color: #FFFEFE;
  margin: 100px auto;
  width: 582px;
  height: 573px;
  border-radius: 10px;
  padding: 30px;

}

.welcomeTxt {
  text-align: center;
  padding: 15px;
}

h1, h2, p {
  margin: 10px;
}

label, input {
  display: block;
  margin: 10px;
  
  
}

input {
  width: 394px;
  height: 45px;
  border-radius: 5px;
  background-color: #F5F5F5;
  border: 1px solid #FFFFFF;

}

input::placeholder {
  padding: 10px;
}

.btnWrap {
  text-align: center;
}
.button {
  width: 394px;
  height: 44px;
  border-radius: 5px;
  background-color: #089FE0;
  color: #ffffff;
  border: none;

}

.meetUpWrapper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.profileNavWrapper {
  width: 80px;
  height: 708px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F9FAFB;
  border-radius: 15px;
  padding: 10px;
 
}

.iconsWrap {
  width: 50px;
  height: 192px;
  padding: 10px;
  

}

.icon {
  margin: 10px;
  
}

.user {
  border-radius: 50%;
}

.queWrap {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 707px;
  background-color: #F9FAFB;
  border-radius: 15px;
}

.askQueWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 25px;
  padding-bottom: 20px;
} 

textarea {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: none;
  color: #9DA4AF;
  text-align: center;
}


.userQueWrap {
  width: 250px;
  height: 130px;
  font-size: 12px;
  background-color: #176DEE;
  color: #ffffff;
  border-radius: 6px;
  padding: 5px;
}

.que {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.queIconsWrap {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  margin-top: 10px;
  background-color: #FFFEFE;
  color: #000000;
  border-radius: 50px;
  
}

.mainWrap {
  background-color: #F9FAFB;
  padding: 30px;
}

.heroImgWrap {
  width: 630px;
  height: 250px;
  margin-top: 15px;
}

.heroImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.hostName {
  position: absolute;
  left: 23%;
  margin-top: 200px;
  background-color: #020f2179;
  color: #ffffff;
  width: 65px;
  height: 25px;
  text-align: center;
  border-radius: 25px;
}


.cardWrap {
  width: 130px;
  height: 130px;
  
}

.card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cardListWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.particName {
  background-color: #020f2179;
  color: #ffffff;
  width: 65px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
}

.footerWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 340px;
  height: 38px;
}

.exitBtn {
  width: 116px;
  height: 37px;
  background-color: #F1414F;
  border-radius: 20px;
  color: #ffffff;
  border: none;
}